OrderManagementLib/Item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://OrderManagementLib"
	xmlns:bons0="http://OrderManagementLib">
	<xsd:include schemaLocation="Wharehouse.xsd"></xsd:include>
	<xsd:complexType name="Item">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="itemID"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="itemName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="price" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="warehouse"
				type="bons0:Warehouse" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>