OrderManagement/WarehouseOfficeBRIF.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WarehouseOfficeBRIF" targetNamespace="http://OrderManagement/WarehouseOfficeBRIF" xmlns:bons1="http://OrderManagementLib" xmlns:tns="http://OrderManagement/WarehouseOfficeBRIF" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://OrderManagement/WarehouseOfficeBRIF">
      <xsd:import namespace="http://OrderManagementLib" schemaLocation="Order.xsd"/>
      <xsd:element name="authorize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" nillable="true" type="bons1:Order"/>
            <xsd:element name="totalStock" nillable="true" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authorizeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="warehouseRuleRC" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="authorizeRequestMsg">
    <wsdl:part element="tns:authorize" name="authorizeParameters"/>
  </wsdl:message>
    <wsdl:message name="authorizeResponseMsg">
    <wsdl:part element="tns:authorizeResponse" name="authorizeResult"/>
  </wsdl:message>
    <wsdl:portType name="WarehouseOfficeBRIF">
    <wsdl:operation name="authorize">
      <wsdl:input message="tns:authorizeRequestMsg" name="authorizeRequest"/>
      <wsdl:output message="tns:authorizeResponseMsg" name="authorizeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>